<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <title>Forget Password Form with HTML5 and CSS3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
    <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
</head>
<body>
    <div class="container">

        <header>
            <h1>Forget Password Form <span>with HTML5 and CSS3</span></h1>
        </header>
        <section>				
            <div id="container_demo">
                <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                <div id="wrapper">
                    <div id="login" class="animate form">
                        <h1>Forget Password</h1> 
                        <form ng-show="getQuestion">
                            <p> 
                                <label for="username" class="uname" data-icon="u" > Enter your email address</label>
                                <input id="email" name="username" required="required"  ng-model="email" type="text" placeholder="mymail@mail.com"/>
                            </p>
                            <p class="login button"> 
                                {{myMail}}
                            </p>
                            <p class="login button"> 
                                <input type="button" value="Next" ng-click="securityQuestion()"/> 
                            </p>
                        </form>
                        <form ng-show="verifyAnswer" >
                            <p> 
                                <label for="securityq" class="youseq" data-icon="sq" > Your Security Question </label>
                                <input id="securityq" name="securityQ"  ng-model="securityq" type="text" disabled/> 
                            </p>
                            <p> 
                                <label for="securityA" class="youseq" data-icon="sa" > Your answer </label>
                                <input id="securityA" name="securityA" required="required" ng-model="securityA" type="text" /> 
                            </p>
                            <p class="login button"> 
                                {{answerErr}}
                            </p>
                            <p class="login button"> 
                                <input type="button" value="Next" ng-click="checkAnswer()"/> 
                            </p>
                        </form>
                        <form ng-show="resetPassword">
                            <p> 
                                <label for="passwordsignup" class="youpasswd" data-icon="p"  >Enter your new password </label>
                                <input id="password" name="passwordsignup" required="required" ng-model="password"  type="password" placeholder="eg. X8df!90EO" />
                            </p>
                            <p> 
                                <label for="passwordsignup_confirm" class="youpasswd" data-icon="p" >Confirm your password </label>
                                <input id="confirmpassword" required="required" name="passwordsignup_confirm"  ng-model="confirmpassword" type="password" placeholder="eg. X8df!90EO" />
                                {{err}}
                            </p>
                            <p class="login button"> 
                                {{successText}}
                            </p>
                            <p class="login button"> 
                                <input type="button" value="Next" ng-click="submitPassword()"/> 
                            </p>
                        </form>
                    </div>
                </div>
            </div>  
        </section>
    </div>
</body>
</html>