<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Login and Registration Form with HTML5 and CSS3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
    </head>
    <body>
        <div class="container">

            <header>
                <h1>Registration Form</h1>

            </header>

            <div id="container_demo" >
                <a class="hiddenanchor" id="toregister"></a>
                <a class="hiddenanchor" id="tologin"></a>
                <div id="wrapper">


                    <form  autocomplete="on" ng-submit="signup()"> 
                        <h1> Sign up </h1> 
                        <p> 
                            <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                            <input id="username" name="usernamesignup" ng-model="username" required="required" type="text" placeholder="mysuperusername690" />
                        </p>
                        <p> 
                            <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                            <input id="email" name="emailsignup" required="required" ng-model="email" type="email" placeholder="mysupermail@mail.com"/> 
                        </p>
                        <p> 
                            <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                            <input id="password" name="passwordsignup" required="required" ng-model="password" type="password" placeholder="eg. X8df!90EO"/>
                        </p>
                        <p> 
                            <label for="passwordsignup_confirm" class="youpasswd" data-icon="p"> Confirm your password </label>
                            <input id="confirmpassword" name="passwordsignup_confirm" required="required" ng-model="confirmpassword" type="password" placeholder="eg. X8df!90EO"/>
                            {{err}}
                        </p>
                        <p> 
                            <label for="DOB" class="youpasswd" data-icon="d">Date-Of-Birth</label>
                            <input id="DOB" name="passwordsignup_confirm" required="required" ng-model="DOB" type="text" placeholder="DD-MM-YYYY"/>
                        </p>
                        <p> 
                            <label for="contact" class="youpasswd" data-icon="c">Contact</label>
                            <input id="contact" name="passwordsignup_confirm" required="required" ng-model="contact" type="text" placeholder="Contact-No"/>
                        </p>
                        <p> 
                            <label for="Gender" class="youpasswd" data-icon="">Gender </label>
                            <select id="gender" name="passwordsignup_confirm" required="required" ng-model="gender">
                                <option value="">select</option>
                                <option value="M">M</option>
                                <option value="F">F</option>
                            </select>
                        </p>
                        <p> 
                            <label for="securityQuestion" class="youpasswd" data-icon="sq">security-Question</label>
                            <input id="securityQuestion" name="passwordsignup_confirm" required="required" ng-model="securityQuestion" type="text" placeholder="security-question"/>
                        </p>
                        <p> 
                            <label for="securityAnswer" class="youpasswd" data-icon="sa">security-Answer</label>
                            <input id="securityAnswer" name="passwordsignup_confirm" required="required" ng-model="securityAnswer" type="text" placeholder="security-answer"/>
                        </p>
                        <p class="signin button"> 
                            <input type="submit" value="Sign up" /> 
                        </p>
                        <p class="change_link">  
                            Already a member ?
                            <a href="#login" class="to_register"> Go and log in </a>
                        </p>
                    </form>
                    <!--                        </div>-->

                </div>
            </div>  

        </div>
    </body>
</html>